<div class="test active">
  <h1>pick your type</h1>

  <div class = "question">
    <a class="ei" id="E" href="/">E</a>
    <a class="ei" id="I" href="/">I</a>
  </div>

  <div class = "question">
    <a class="sn" id="S" href="/">S</a>
    <a class="sn" id="N" href="/">N</a>
  </div>

  <div class = "question">
    <a class="tf" id="T" href="/">T</a>
    <a class="tf" id="F" href="/">F</a>
  </div>

  <div class = "question">
    <a class="jp" id="J" href="/">P</a>
    <a class="jp" id="P" href="/">J</a>
  </div>
</div>



<div class="data hidden">


</div>
